Package: com.gebeto.premiumkingpack
Name: Premium King Pack
Version: 9.0
Architecture: iphoneos-arm
Description: Супер пак с супер возможностями:)
Maintainer: gebeto <slavik.nychkalo@gmail.com>
Author: gebeto <slavik.nychkalo@gmail.com>
Section: Themes

