Package: com.gebeto.vkmessageslock
Name: VK Messages Lock
Version: 0.0.1
Architecture: iphoneos-arm
Description: Твик для блокировки сообщений VK App на пароль 1111
Maintainer: gebeto <slavik.nychkalo@gmail.com>
Author: gebeto <slavik.nychkalo@gmail.com>
Section: Tweaks
Depends: mobilesubstrate

