Package: com.gebeto.infusehack
Name: Infuse Hack
Version: 0.1
Architecture: iphoneos-arm
Description: Infuse взлом на премиум!
Maintainer: gebeto <slavik.nychkalo@gmail.com>
Author: gebeto <slavik.nychkalo@gmail.com>
Section: Tweaks (Hacks)
Depends: mobilesubstrate

